$russian-violet: #120D31;
$space-cadet: #302F4D;
$cultured: #F2F4F3;

.rounded-1 {
  border-radius: 10px;
}

.rounded-2 {
  border-radius: 20px;
}

.rounded-3 {
  border-radius: 30px;
}

.rounded-4 {
  border-radius: 40px;
}

.rounded-5 {
  border-radius: 50px;
}

.bg-russian-violet {
  background: $russian-violet;
}

.bg-cultured {
  background: $cultured;
}

.bg-space-cadet {
  background: $space-cadet;
}

.max-height {
  min-height: 100vh;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, $cultured, $russian-violet, $cultured);
}